@import './variables.scss';
@import './themes.scss';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    //background-color: $main-bg;
}

body {
    background-color: var(--background);
}

a {
    text-decoration: none;
    color: inherit;
}

.main {
    font-family: "Inter", sans-serif;
    background-color: var(--background);
    color: var(--text-primary);
}

.container {
    display: flex;
    height: 100%;
}

.menuContainer {
    width: 250px;
    padding: 5px 20px;
    border-right: 2px solid $soft-bg;
}

.contentContainer {
    padding: 5px 20px;
    width: 100%;
}
